body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: futura;
    margin-top: 50px;
}


.title {
  margin-bottom: 10px;
}

#titleInput {
  width: 323px;
  height: 30px;
  border-radius: 5px;

}

.snippet {
  margin-bottom: 10px;
}

#snippetArea {
  border-radius: 5px;
}

.notes {
  margin-bottom: 10px;
}

#notesArea {
  border-radius: 5px;
}

.language {
  margin-bottom: 10px;
}

.languageInput {
  width: 323px;
  height: 30px;
  border-radius: 5px;
}

.tags {
  margin-bottom: 10px;
}

#tagsInput {
  width: 323px;
  height: 30px;
  border-radius: 5px;
}

.buttonDiv {
  width: 323px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#submitButton {
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

#submitButton:hover {
  color: white;
  background-color: #3AEB7A
}
